@model Producer
@{
    ViewData["Title"] = "Create new Producer";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h1 class="display-6">Add new Producer</h1>
        <hr />
    </div>
    <div class="row">        
        <div class="col-md-6 offset-3">
            <form method="post" asp-action="Create" asp-controller="Producers">
                <div class="form-group">
                    <div class="col-md-3 offset-3" style="margin-right: 30px;">
                        <img id="ProfilePicturePreview" class="imgPreview" />
                    </div>
                    <div class="col-md-10 mb-2">
                        <label asp-for="ProfilePicture" class="col-form-label"></label>
                        <input asp-for="ProfilePicture" class="form-control" placeholder="Profile Picture Url" />
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div>

                    <div class="col-10 mb-2">
                        <label asp-for="ProducerName" class="col-form-label"></label>
                        <input asp-for="ProducerName" class="form-control" placeholder="Producer Name" />
                        <span asp-validation-for="ProducerName" class="text-danger"></span>
                    </div>

                    <div class="col-10 mb-2">
                        <label asp-for="Biography" class="col-form-label"></label>
                        <input asp-for="Biography" class="form-control" placeholder="Biography" />
                        <span asp-validation-for="Biography" class="text-danger"></span>
                    </div>

                    <div class="col-10">
                        <a class="btn btn-outline-secondary float-start" asp-action="Index">Back</a>
                        <button type="submit" class="btn btn-warning float-end">Save</button>
                    </div>
                </div>
            </form>
        </div>     
    </div>
</div>

@section Scripts{
    <script src="~/libs/Jquery/jquery.js"></script>
    <script src="~/libs/validate/jquery.validate.js"></script>
    <script src="~/libs/unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        //$(document).ready(function () {
        //    var output = document.getElementById('ProfilePicturePreview');
        //    output.src = $("#ProfilePicture").val();
        //})
        $("#ProfilePicture").on("change", function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $(this).val();
        })
    </script>
}
