@model string

<div class="col-12 d-flex justify-content-end mb-2">
    <a asp-action="Create" asp-controller="@Model" class="btn btn-warning" title="Add new"><i class="bi bi-plus-square"></i></a>
</div>
