<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ETicket_Application</title>
    <script src="~/libs/bootstrap/js/bootstrap.bundle.js"></script>
    <link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    <link href="~/libs/icons/font/bootstrap-icons.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", false)

    <style>
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-warning box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Movies" asp-action="Index">eTicket</a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light flex-grow-1" asp-controller="Movies" asp-action="Index"><i class="bi bi-film me-sm-1"></i>Movies</a>
                        </li>     

                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-gear"></i>
                                Management
                            </a>
                            <ul class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item text-dark flex-grow-1" asp-controller="Movies" asp-action="ListIndex"><i class="bi bi-list-ul me-sm-1"></i>Movies List</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark flex-grow-1" asp-controller="Cinemas" asp-action="Index"><i class="bi bi-camera-reels me-sm-1"></i>Cinemas</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark flex-grow-1" asp-controller="Producers" asp-action="Index"><i class="bi bi-person-fill-gear me-sm-1"></i>Producers</a>
                                </li>
                                <li>
                                <li>
                                    <a class="dropdown-item text-dark flex-grow-1" asp-controller="Actors" asp-action="Index"><i class="bi bi-person-square me-sm-1"></i>Actors</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-dark flex-grow-1" asp-controller="Categories" asp-action="Index"><i class="bi bi-menu-button-wide me-sm-1"></i>Genres</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <form class="d-flex ms-auto form-check-inline my-lg-0 " asp-controller="Movies" asp-action="Filter" style="padding-right:25px;">
                        <input name="searchString"class="form-control me-2" type="search" placeholder="Search movie" aria-label="Search">
                        <button class="btn btn-outline-light my-2 my-sm-0" title="search" type="submit"><i class="bi bi-search "></i></button>
                    </form>                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center" >
            &copy; 2023 - ETicket_Application
        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", false)
</body>
</html>


