<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="display-6 text-center">Invalid Query</h1>
        <hr/>
        <a asp-action="Index" asp-controller="Movies" class="btn btn-success">Home Page</a>
    </div>
</div>
